/**
 New Moon
 **/

@background: #353535; 
@foreground: #cdcdcd;
@comment: #797979;

@cursor: white;

@activeline-background: rgba(96, 96, 96, 0.5);
@activeline-foreground: rgba(96, 96, 96, 0.3);
@matchingtag-background: rgba(0, 0, 0, 0.7);


.CodeMirror-scroll { background: @background; color: @foreground; /*font-size: 12px; line-height: 1.2; -webkit-font-smoothing: subpixel-antialiased; */
 } /**/
.CodeMirror { background: @background; color: @foreground; }
.CodeMirror-selected { background: rgba(0, 0, 0, 0.6) !important; }

.CodeMirror-gutters { background: #222; border-right: 0px solid #222 !important; }
.CodeMirror-guttermarker { color: white; }
.CodeMirror-guttermarker-subtle { color: #aaa; }
.CodeMirror-linenumber { color: #aaa; }
.CodeMirror-cursor { border-left: 1px solid white !important; }

.cm-keyword {  color: #ffeead; } 
.cm-atom { color: #9dbede; }
.cm-number { color:  #f99157; } 
.cm-def { color: #8DA6CE; }
span.cm-variable-2,  span.cm-tag { color: #5999c7; }
span.cm-variable-3,  span.cm-def { color: #6dc5dc; }
.cm-operator { color: #cda869; } 
.cm-comment { color: @comment; font-style:normal; font-weight:normal; } 
.cm-string { color:#99ccaa; font-style:normal; }
.cm-string-2 { color:#bd6b18; } 
.cm-meta { background-color:#141414; color:#f7f7f7; } 
.cm-builtin { color: #cc99cc; }
.cm-tag { color: #997643; } 
.cm-attribute { color: #fede88; }
.cm-header { color: #FF6400; }
.cm-hr { color: #AEAEAE; }
.cm-link {   color:#ad9361; font-style:normal; text-decoration:none; }
.cm-error { border-bottom: 1px solid #f2777a; }
.cm-qualifier{color: #ffcc66}
.cm-property {color: #d4d4d4}
.cm-quote {color: #D6D7AF}
.cm-variable {color: #ffffff;}

 .CodeMirror-activeline-background {background: #27282E !important;}
 .CodeMirror-matchingbracket {outline:1px solid grey; color:white !important; background: transparent;}


/** Cursors */
.CodeMirror .CodeMirror-cursor {
    border-left: 1px solid @cursor !important;
}

.CodeMirror .CodeMirror-overwrite .CodeMirror-cursor {
    border-left: none !important;
    border-bottom: 1px solid @cursor;
    width: 1.2ex;
}


/** Gutter treatment */
.CodeMirror .CodeMirror-gutters {
    background-color: @background;
    border-right: 1px solid #696969;
}

.CodeMirror-activeline .CodeMirror-gutter-elt {
    color: @foreground !important;
}

.CodeMirror-gutter-elt {
    color: @comment !important;
}

.CodeMirror .CodeMirror-linenumber {
    color: @activeline-foreground;
}

.CodeMirror-activeline-background,
.CodeMirror-activeline .CodeMirror-gutter-elt {
    background: @activeline-background !important;
}

.CodeMirror-matchingtag {
    background: @matchingtag-background;
}
